

body{
    background-color: black;
}
a{
    text-decoration: none;
}
#navbar{
    font-family: 'Manrope';
    margin-top: 1%;
    text-align: center;
    color: white;
    display: flex;
    font-size: 15px;
    margin-left: 5%;
    
}
#navbar figure{
    margin-left: 0%;
}
#navbar a{
    margin: 3%;
    color:white;
    margin-bottom: 10%;
}
#SignUp{
    background-color: #63BB54;
    color: white;
    border-radius: 8px;
    text-align: center;
    
    
    margin-bottom: 10%;
    padding: 1%;
}
.main2{
    box-sizing: inherit;
    border: solid;
    font-size: 41px;
    margin-top: 21px;
    margin-left:113px;
    padding-top: 43px;
    font-family: 'Comic Neue', cursive;
    width: 295px;
    height: 393px;
    padding-left: 25px;
    box-shadow: -1px 1px 6px black; 
    border-radius: 11px;
    color: white;
    background-color: black;
    border-color: black;
}
#box{
    background-color:black;
    background-image: url('Mnanalyse.png');
    background-size: 323px 166px;
    margin-left: -28px;
    margin-top: -46px;
    padding-top: 165px;
    padding-left: 16px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    padding-bottom: 0.5px;
    margin-right: 0px;
}

#box2{
    background-color: black;
    color:white;
}
.inside1{
    font-size: 24px;
    margin-left: -9px;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: -11px;
}
.smallbox{
    font-size: 12px;
    margin-top: 34px;
    border: solid;
    width: 51px;
    padding-left: 8px;
    border-radius: 7px;
    font-family: 'DM Sans', sans-serif;
    
    padding-right: 9px;
}
#para{
   font-size: 15px;
   font-family: 'DM Sans', sans-serif;
   color: rgba(255, 255, 255, 0.8);
   margin-left: -10px;
   margin-top: 30px;
   text-align: justify;
}
#clock{
    margin-left: 76px;
height: 19px;
width: 18px;
margin-bottom: -5px; 
}
#time{
    font-size :12px;
    font-family: 'DM Sans', sans-serif;
    margin-left: -5px;
}
#name1{
    
font-size: 15px;
font-family: 'DM Sans', sans-serif;
color: #63BB54;
margin-top: -6px;
margin-left: -6px;
}
#date{
    padding-left:62px;
}
#main3{
    box-sizing: inherit;
    border: solid;
    font-size: 41px;
    margin-top: -436px;
    margin-left: 540px;
    padding-top: 43px;
    font-family: 'Comic Neue', cursive;
    width: 295px;
    height: 393px;
    padding-left: 25px;
    box-shadow: -1px 1px 6px black; 
    border-radius: 11px;
    color: white;
    background-color: black;
    border-color: black;
}
#box3{
    background-color:black;
    background-image:url('dmint.png');
    margin-left: -28px;
    margin-top: -46px;
    padding-top: 165px;
    padding-left: 16px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    padding-bottom: 0.5px;
    margin-right: 0px;
}
.inside2{
    font-size: 24px;
    margin-left: -9px;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: -11px;
}
#name2{
    
    font-size: 15px;
    font-family: 'DM Sans', sans-serif;
    color: #63BB54;
    margin-top: -7px;
    margin-left: -6px;
    }
    #box4{
        background-color:black;
    background-image:url('financeplus.png');
    background-size: 325px 166px;
    margin-left: -28px;
    margin-top: -46px;
    padding-top: 165px;
    padding-left: 16px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    padding-bottom: 0.5px;
    margin-right: 0px;
    }
    .inside3{
        font-size: 24px;
        margin-left: -9px;
        font-family: 'DM Sans', sans-serif;
        margin-bottom: -11px;
    }
    #name3{
    
        font-size: 15px;
    font-family: 'DM Sans', sans-serif;
    color: #63BB54;
    margin-top: 11px;
    margin-left: -6px;
        }
        #main4{
            box-sizing: inherit;
    border: solid;
    font-size: 41px;
    margin-top: -440px;
    margin-left: 975px;
    padding-top: 43px;
    font-family: 'Comic Neue', cursive;
    width: 295px;
    height: 393px;
    padding-left: 25px;
    box-shadow: -1px 1px 6px black; 
    border-radius: 11px;
    color: white;
    background-color: black;
    border-color: black;
        }
        #part2{
            margin-top:80px;
        }
        
        #part3{
            margin-top:80px;
        }
        #box5{
            background-color:black;
        background-image:url('codebiz.png');
        background-size: 325px 166px;
        margin-left: -28px;
        margin-top: -46px;
        padding-top: 165px;
        padding-left: 16px;
        border-top-left-radius: 11px;
        border-top-right-radius: 11px;
        padding-bottom: 0.5px;
        margin-right: 0px;
        }
        #box6{
            background-color:black;
        background-image:url('derivative.png');
        background-size: 325px 166px;
        margin-left: -28px;
        margin-top: -46px;
        padding-top: 165px;
        padding-left: 16px;
        border-top-left-radius: 11px;
        border-top-right-radius: 11px;
        padding-bottom: 0.5px;
        margin-right: 0px;
        }
        #box7{
            background-color:black;
        background-image:url('tradingbot.png');
        background-size: 325px 166px;
        margin-left: -28px;
        margin-top: -46px;
        padding-top: 165px;
        padding-left: 16px;
        border-top-left-radius: 11px;
        border-top-right-radius: 11px;
        padding-bottom: 0.5px;
        margin-right: 0px;
        }
        #name4{
    
            font-size: 15px;
        font-family: 'DM Sans', sans-serif;
        color: #63BB54;
        margin-top: -26px;
        margin-left: -6px;
            }
            #box8{
                background-color:black;
            background-image:url('valuation.png');
            background-size: 325px 166px;
            margin-left: -28px;
            margin-top: -46px;
            padding-top: 165px;
            padding-left: 16px;
            border-top-left-radius: 11px;
            border-top-right-radius: 11px;
            padding-bottom: 0.5px;
            margin-right: 0px;
            }
            #box9{
                background-color:black;
            background-image:url('excel.png');
            background-size: 325px 166px;
            margin-left: -28px;
            margin-top: -46px;
            padding-top: 165px;
            padding-left: 16px;
            border-top-left-radius: 11px;
            border-top-right-radius: 11px;
            padding-bottom: 0.5px;
            margin-right: 0px;
            }
            #box10{
                background-color:black;
            background-image:url('bot.png');
            background-size: 325px 166px;
            margin-left: -28px;
            margin-top: -46px;
            padding-top: 165px;
            padding-left: 16px;
            border-top-left-radius: 11px;
            border-top-right-radius: 11px;
            padding-bottom: 0.5px;
            margin-right: 0px;
            }
            #new{
                margin-top:-18px;
            }
