/* before displaying */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
  }  
#post-loading{
    display: none;
}

/* Add animation to "page content" */
#post-loading {
    position: relative;
    -webkit-animation-name: post-loading;
    -webkit-animation-duration: 1s;
    animation-name: post-loading;
    animation-duration: 1s;
    
  }
  
  @-webkit-keyframes post-loading {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
@keyframes post-loading{
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

/* Display */
html{
    scroll-behavior: smooth;
  }

body{
    background-color: black;
    font-weight: 800;
    width:100%;
}
a{
    text-decoration: none;
}
.logo{
  display: none;
  margin: 3%;
}
.navbar{
  display: flex;
  justify-content: space-evenly;

}
.navbar a {
    width: auto;
    font-family: 'Manrope';
    color:white;
    font-size: 15px;
    margin-top: 2%;
 
}

.navbar a:hover{
    color:#63BB54;
}
.navbar a.burger{
  display: none;
  margin-top: -10%;
  float: right;

  
}
@media screen and (max-width: 1000px) {
  .navbar a{display: none;}
  .logo{display: block;}
  .navbar a.burger {
    text-align: right;
    display: block;
    margin-right: 0%;
  }
  .navbar{
    justify-content: right;
    margin-right: 5%;
  }
  .responsive{
    display: block;
    padding-left: 5%;
    float: right ;

    margin-top: -10%;
  }
 
  .header{
    margin-bottom: -5%;
  }
  .navbar.responsive a:not(:first-child) {
    float: none;
    display: block;
    padding-top: 5%;
  }
}
/* index content */
#main{
    margin-top: 3%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
#main #left{
    height: 100%;
    margin-left: 2%;
    max-width: 50%;
    color:white;
    font-family:'Inter';
    
}
#main #right{
    height: 100%;
    margin-left: 5%;
    justify-content: center;
    font-family:'Manrope';
    color: white;
    margin-right: 0%;
    overflow: hidden;
}
#main #right i{
    padding-left: 2%;
    color:white;
    text-align: center;
}
.typewriter {
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    border-right: 3px solid white;
    white-space: nowrap;
    animation: blink-caret .75s step-end infinite;
    
  }

.bottom_boxes_container_index{
  
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 5%;
  margin-top: 2%;
  margin-left: 8%;
  margin-right: 7%;
  font-size: 14px; 
  font-family: Inter , sans-serif;
  max-width: 1200px;

}



  
  /* The typewriter cursor effect */
  
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: white;
    }
  }
  /* Testimonials */
  blockquote {
    margin: 10px 50px;
    padding: 0.5em;
    border-left: 5px solid #999;
    font-size: 3em;
    ;
  }
  blockquote:before {
    display: none;
    
  }
  blockquote:not(:first-of-type) {
    margin-top: 0.5em;
  }
  blockquote p {
    color: #fff;
    font-size: 14px;
    line-height: 1.4;
    font-family: 'Inter';

  }
  blockquote footer {
    margin-top: 0.5em;
    padding: 0;
    color: #63BB54;
    font-size: 12px;
    text-align: left;
    font-family: 'Inter';
  }
  blockquote footer:before {
    content: '— ';
  }
  blockquote:nth-of-type(even) {
    text-align: right;
    border-left: none;
    border-right: 5px solid #999;
  }
  blockquote:nth-of-type(even) footer {
    text-align: right;
  }
  blockquote:nth-of-type(even) footer:before {
    content: '';
  }
  blockquote:nth-of-type(even) footer:after {
    content: ' —';
  }
  @element 'blockquote' and (min-width: 300px) {
    blockquote {
      padding: 1em 20% 1em 1em;
    }
    blockquote p {
      font-size: 14pt;
    }
    blockquote:nth-of-type(even) {
      padding: 1em 1em 1em 20%;
    }
   
  }

/*Footer starts here*/
.Footer
{
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    
   
}
.DownloadFreeResources
{
    margin-top: -5%;
    margin-left: 10%;
    width:456px;
    height:78;
   
    
}
.FundsAnalysis
{
    
    
    display: block;
  
    margin-top: 5%;
    margin-left: 1%;
   
    height: 215;

    
}
.AlgoTrading
{
    
    
    display: block;
  
    margin-top: 5%;
    margin-left: 3%;
    
    height: 215;
    
}
.BelowMargin{
    display: flex;
    justify-content: space-evenly;
}
.BelowMargin a:hover{
  color:#63BB54;
}
.BelowMargin a
{
    color:white;   
    text-align: center;  
    margin: 1%;
    font-size: 15px;
    font-family: 'Inter';
}
.BelowMargin a i{
    font-size: 20px;
}
.register{
    font-family: 'Manrope';
  font-weight: Bold;
  position: absolute;
    
  margin-top:10%;
  margin-left:-80%;
 
  
   
   
    
  
  
  font-size: 25px;
  color: white;
  
  text-decoration: underline;
  text-decoration-color:rgba(99, 187, 84, 1) ;
  text-decoration-thickness: 6px;
  text-underline-offset: 25px;

  
  cursor: pointer;
}
.regi{
    font-family: Manrope;
      font-weight: Bold;
      
      font-size: 25px;
      color:rgba(99, 187, 84, 1);
      
      text-decoration: underline;
      text-decoration-thickness: 6px;
}
/*footer ends here*/









/* TEAMS */








.biggest_box_teams{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container{
  
  position: relative;
  width: 80%;
  font-size: 14px; 
  font-family: Inter , sans-serif;
  padding: 0px;
  margin: 0px;
  align-self: center;
  max-width: 1000px;
}

.socialEmpowerment {
  margin-bottom: 20px;
}

.whiteHeading {
  margin: 0px;
  padding: 0px;
  color: rgb(255,255,255);
  margin-bottom: 2.2%;
  font-weight: 800;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.quant_box ,
.capital,
.defi,
.socials{
  margin-bottom: 5.5%;
  background-color: rgba(39, 39, 39, 1);
  border-radius: 20px;
  padding: 4%;
}

.horizontal_line{
  width: 48%;
  height: 5px;
  background-color: rgb(72, 171, 55);
  border: none;
  border-radius: 50px;;
  margin: 0px;
  margin-top: 4%;
}


.inbetweenLine{
  color: white;
  font-weight: 600 ;
  font-size: 30px;
  margin-top: 3%;
  margin-bottom: 5%;
  font-family: Manrope , sans-serif;
}
.greenLine{
  color: rgb(72, 171, 55);
}

.greenHeading {
  margin: 0px;
  padding: 0px;
  color: rgb(72, 171, 55);
  font-size: 18px;
  opacity: 1;
  text-align: left;
  font-weight: 600;
}

.Para {
  color: rgba(255,255,255,0.8);
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

.greenSubHeading{
  color:  rgb(72, 171, 55);
  font-weight: 800;
  font-size: 18px;;
}

.subpoints{
  color: rgba(255,255,255,0.8);
  font-size: 15px;
  font-weight: 800;
  margin-right: 5%;
}





.bottom_boxes_container{
  
  display: grid;
  grid-template-columns: 28% 28% 28%;
  column-gap: 5%;
  margin-top: 2%;
  margin-left: 5%;
  font-size: 14px; 
  font-family: Inter , sans-serif;
  max-width: 1200px;

}


@media (max-width: 1000px){

  .bottom_boxes_container{
    grid-template-columns: 40% 40%;
    row-gap: 4%;
    margin-left: 10%;
    column-gap: 7%;
    
  }
 
}




.bottom_boxes {
  height: 100%;
  max-height: 600px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  background: rgb(0,0,0);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  position: relative;
  background-color: rgba(39, 39, 39, 1);
  transition: transform 0.8s;
}



.bottom_boxes:hover{
  transform: scale(1.1);
  cursor:pointer;
}
.bg_img {
  max-height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  vertical-align: bottom;
  text-align: center;
  
}
.bg_img img{
  width: 100%;
  transition: transform 0.8s;
  cursor: pointer;
}


.description_box {
  width: 80%;
  font-family: 'Inter';
  color: white;
  margin-left: 8%;
  margin-right: 8%;
  text-align: left;
}

.title {
  font-weight: 800;
  font-size: 18.7px;
  text-align: left;
}

.white_part{
  color: white;
}

.green_part{
  color: rgb(72, 171, 55);
}

.descp {
  color: rgba(255,255,255,0.8);
  font-weight: Medium;
  font-size: 12px;
  text-align: left;
  margin-bottom: 40%;
  
}

.bottom_box_green_line{
  background-color: rgb(72, 171, 55);
  width: 35%;
  height: 5px;
  border: none;
  margin: 0px;
  border-radius: 20px;
  position: absolute;
  bottom: 12%;
}


.blog_medium{
  font-size: 12px;
  color: rgba(255,255,255,0.8);
  font-weight: 600;
  position: absolute;
  bottom: 3%;
}
.read_time{
font-size: 12px;
color: rgba(255,255,255,0.8);
font-weight: 600;
position: absolute;
right: 5%;
bottom: 3%;
}



.teams_link_grid{

  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  align-items: center;
  justify-content: space-between;
  padding-right: 10%;
  padding-left: 10%;
}


.teams_link{
  color: white;
  margin-right: 10%;
  font-weight: 600;
  font-size: 18px;
  border: 1px solid white;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 18px;
  transition: transform 0.8s;
  transition: background-color 0.5s;
  text-align: center;
 
}

.teams_link:hover{
  background-color: rgb(72, 171, 55);
}
.our_teams_title{
  color: rgb(72, 171, 55);
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 4%;
}








.DownloadFreeResources_teams
{
    margin-top: -10%;
    margin-left: 0%;
    width:456px;
    height:78;
   
    
}


.FundsAnalysis_teams
{
    
    
    display: block;
  
    margin-top: 0%;
    margin-left: 1%;
   
    height: 215;

    
}
.AlgoTrading_teams
{
    
    
    display: block;
  
    margin-top: 0%;
    margin-left: 3%;
    
    height: 215;
    
}

.BelowMargin_teams{
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin-top: 1%;
  margin-bottom: 1%;
  max-width: 1200px;
}
.BelowMargin_teams a
{
  color:white;   
  text-align: center;
  margin-left: 1%;   
  margin-top: 1%;
  font-size: 15px;
  font-family: 'Inter';
  

}

.BelowMargin_teams a:hover{
  color:#63BB54;
}


.BelowMargin_teams a i{
  font-size: 20px;
}



.register_teams{
  font-family: Manrope;
  font-weight: Bold;
  position: absolute;
    
  margin-top: 50%;
  margin-left:-101%;
 

  
  font-size: 25px;
  color: white;
  
  text-decoration: underline;
  text-decoration-color:rgba(99, 187, 84, 1) ;
  text-decoration-thickness: 6px;
  text-underline-offset: 25px;

  
  cursor: pointer;
}





/* TEAMS END */










.dev_2{
    background-color: black;
  }

     .titlequant_2{
        color: white;
        font-size: 18px;
        margin-left: 122px;
        font-family: Inter;
        width: 150px;
        margin-bottom: 0px;
        margin-right: 0px;
       
     }
     .title2_2{
        width: 150px;
      color: rgba(255,255,255,1);
      
     margin-left: 500px;
     margin-top: 0px;
      font-family: Inter;
      font-weight: Semi Bold;
      font-size: 20px;
      opacity: 1;
      background-color: blue;
     }
     .title3_2{
        width: 150px;
      color: rgba(255,255,255,1);
      background-color: blue;
     margin-left: 900px;
     margin-top: 0px;
      font-family: Inter;
      font-weight: Semi Bold;
      font-size: 20px;
      opacity: 1;
     }
     .grid-container_2 {
  display: inline-grid;
}
.column {
    float: left;
    }

    /* Set width length for the left, right and middle columns */
    .left {
    width: 28%;
    }

    .middle {
    width: 25%;
    }
    
    .right{
    width: 25%;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    .quant_2{
        color: white;
        margin-left: 122px;
        size: 20px;
    }
    .wrong_tex_1_2{
        color: white;
        margin-left: 50px;
        size: 20px;
    }
    .wrong_text_2_2{
        color: white;
        margin-left: 12px;
        size: 20px;
    }
    .quant_a_2{
        
      color: rgba(255,255,255,0.800000011920929);
      
      top: 74px;
      left: 0px;
      font-family: Inter;
      font-weight: Semi-bold;
      font-size: 14px;
      opacity: 1;
      margin-left: 122px;
      
    }
    .wrong_text_1a_2{
        color: rgba(255,255,255,0.800000011920929);
        top: 74px;
      left: 0px;
      font-family: Inter;
      font-weight: Semi-Bold;
      font-size: 14px;
      opacity: 1;
      margin-left: 50px;
      margin-right: 10px;
    }
    .wrong_text_2a_2{
        color: rgba(255,255,255,0.800000011920929);
        top: 74px;
      left: 0px;
      font-family: Inter;
      font-weight: Semi-Bold;
      font-size: 14px;
      opacity: 1;
      margin-left: 0px;
      margin-right: 50px;
      margin-bottom: 20px;
    width:300px;
    }
    .hyper1{
        color: rgba(99, 187, 84, 1);
        font-family: sans-serif;
      font-weight: bold;
      font-size: 14px;
      opacity: 1;
      margin-left: 122px;
      text-decoration: overline ;
     
     margin-top: 30px;
    }
    .hyper2{
        color: rgba(99, 187, 84, 1);
        font-family: sans-serif;
      font-weight: bold;
      font-size: 14px;
      opacity: 1;
      margin-left: 50px;
      text-decoration: overline ;
     
     margin-top: 30px;
    }
    .hyper3{
        color: rgba(99, 187, 84, 1);
        font-family: sans-serif;
      font-weight: bold;
      font-size: 14px;
      opacity: 1;
      margin-left: 0px;
      text-decoration: overline ;
     
     margin-top: 30px;
    }
    .hyper4{
        color: rgba(99, 187, 84, 1);
        font-family: sans-serif;
      font-weight: bold;
      font-size: 14px;
      opacity: 1;
      margin-left: 122px;
      text-decoration: overline ;
  
     margin-top: 30px;
    }
    .quant_a{
        color: rgba(255,255,255,0.800000011920929);
      
      top: 74px;
      left: 0px;
      font-family: sans-serif;
      font-weight: Regular;
      font-size: 14px;
      opacity: 1;
      margin-left: 122px;
    }
    .wrong_text_1a{
        color: rgba(255,255,255,0.800000011920929);
        top: 74px;
      left: 0px;
      font-family: sans-serif;
      font-weight: Regular;
      font-size: 14px;
      opacity: 1;
      margin-left: 50px;
      margin-right: 10px;
    }
    .wrong_text_2a{
        color: rgba(255,255,255,0.800000011920929);
        top: 74px;
      left: 0px;
      font-family: sans-serif;
      font-weight: Regular;
      font-size: 14px;
      opacity: 1;
      margin-left: 0px;
      margin-right: 50px;
      margin-bottom: 20px;
      margin-top: 0px;
    width:300px;
    }
    .dev{
        background-color: black;
        margin-bottom: 0px;
      }
    
         .pixya1{
            width:250px;
            margin-left: 102px;
            margin-bottom: 0px;
         }
         .pixya2{
            width:250px;
            margin-left: 102px;
            margin-bottom: 0px;
         }
         .pixya3{
            width: 250px;
            margin-left: 102px;
            margin-top: 0px;
            margin-bottom: 0px;
         }
         .titlequant{
            color: white;
            font-size: 18px;
            margin-left: 122px;
            font-family: Inter;
            width: 150px;
            margin-bottom: 0px;
            margin-right: 0px;
           
         }
         .title2{
            width: 150px;
          color: rgba(255,255,255,1);
          
         margin-left: 500px;
         margin-top: 0px;
          font-family: Inter;
          font-weight: Semi Bold;
          font-size: 20px;
          opacity: 1;
          background-color: blue;
         }
         .title3{
            width: 150px;
          color: rgba(255,255,255,1);
          background-color: blue;
         margin-left: 900px;
         margin-top: 0px;
          font-family: Inter;
          font-weight: Semi Bold;
          font-size: 20px;
          opacity: 1;
         }
         .grid-container {
      display: inline-grid;
    }
    .column {
        float: left;
        margin-top: 0px;
        }
    
        /* Set width length for the left, right and middle columns */
        .left {
        width: 25%;
        }
    
        .middle {
        width: 28%;
        }
        
        .right {
        width: 25%;
        }
    
        .row:after {
        content: "";
        display: table;
        clear: both;
        }
        .quant{
            color: white;
            margin-left: 122px;
            font-family: 'Inter';
            font-weight: Semi Bold;
            size: 20px;
        }
        .wrong_tex_1{
            color: white;
            margin-left: 52px;
            font-family: Inter;
            font-weight: Semi Bold;
            
            
        }
        .wrong_text_2{
            color: white;
            margin-left: 12px;
            font-family: Inter;
            font-weight: Semi Bold;
            size: 20px;
        }
        
    


.box1
{
    background-color: #272727;
    border-radius: 20px;
    position: absolute;
}

.FECQUANTTEXT1
{
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 600;
    color:#FFFFFF;
    position:absolute;



}
.FECQUANTTEXT2
{
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 600;
    color:#63BB54;
    position:absolute;
}
.FECQUANTTEXT3
{
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 500;
    color:#FFFFFF;
    position:absolute;

}
.FECQUANTLINE
{
    position:absolute;
}
.FECQUANTTEXT4
{
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 800;
    color:#63BB54;
    position:absolute;
}
.box2
{
    height:384px;
    width:286px;
    background-color: #272727;
    border-radius: 20px;
    position:absolute;
}
.FECCAPTEXT1
{
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 600;
    color:#FFFFFF;
    position:absolute;



}
.FECCAPTEXT2
{
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 600;
    color:#63BB54;
    position:absolute;

}
.FECCAPTEXT3
{
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 500;
    color:#FFFFFF;
    position:absolute;

}
.FECCAPLINE
{
    position:absolute;
    
}
.FECCAPTEXT4
{
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 800;
    color:#63BB54;
    position:absolute;
  
}
.box3
{
    
    background-color: #272727;
    border-radius: 20px;
    position:absolute;
}
.FECDF1
{
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 600;
    color:#FFFFFF;
    position:absolute;



}
.FECDF2
{
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 600;
    color:#63BB54;
    position:absolute;

}
.FECDF3
{
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 500;
    color:#FFFFFF;
    position:absolute;

}
.FECDFLINE
{
    position:absolute;

}
.FECDFTEXT4
{
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 800;
    color:#63BB54;
    position:absolute;

}
.box4
{

    background-color: #272727;
    border-radius: 20px;
    position:absolute;
    
}

.FPLUS1
{
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 600;
    color:#FFFFFF;
    position:absolute;



}
.FPLUS2
{
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 600;
    color:#63BB54;
    position:absolute;

}
.FPLUS3
{
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 500;
    color:#FFFFFF;
    position:absolute;
  
}
.FPLUSLINE
{
    position:absolute;
}
.FPLUS4
{
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 800;
    color:#63BB54;
    position:absolute;

}
.FPLUS5
{
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 800;
    color:#63BB54;
    position:absolute;

}
.box5
{
    
    background-color: #272727;
    border-radius: 20px;
    position:absolute;
    
}

.MCPLUS1
{
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 600;
    color:#FFFFFF;
    position:absolute;



}
.MCPLUS2
{
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 600;
    color:#63BB54;
    position:absolute;

}
.MCPLUS3
{
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 500;
    color:#FFFFFF;
    position:absolute;
}
.MCPLUSLINE
{
    position:absolute;
}
.MCPLUS4
{
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 800;
    color:#63BB54;
    position:absolute;

}
.MCPLUS5
{
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 800;
    color:#63BB54;
    position:absolute;
}
.box6
{
    background-color: #272727;
    border-radius: 20px;
    position:absolute;
    
}

.FINDER1
{
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 600;
    color:#FFFFFF;
    position:absolute;


}
.FINDER2
{
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 600;
    color:#63BB54;
    position:absolute;
    
}
.FINDER3
{
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 500;
    color:#FFFFFF;
    position:absolute;
    
}
.FINDERLINE
{
    position:absolute;
}
.FINDER4
{
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 800;
    color:#63BB54;
    position:absolute;
}
.FINDER5
{
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 800;
    color:#63BB54;
    position:absolute;
    
}
.templates2
{
    position:absolute;
    
}
.box6:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}
.box5:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}
.box4:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}
.box3:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}
.box2:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}
.box1:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}
.box1:not( :hover ){
    transform: scale(1);
    transition-duration: 0.5s;
 }
 .box2:not( :hover ){
    transform: scale(1);
    transition-duration: 0.5s;
 }
 .box3:not( :hover ){
    transform: scale(1);
    transition-duration: 0.5s;
 }.box4:not( :hover ){
    transform: scale(1);
    transition-duration: 0.5s;
 }.box5:not( :hover ){
    transform: scale(1);
    transition-duration: 0.5s;
 }.box6:not( :hover ){
    transform: scale(1);
    transition-duration: 0.5s;
 }
/* events page start */

#form{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-left: 926px;
  margin-top:-72px;
}

.main2 {
    box-sizing: inherit;
    border: solid;
    font-size: 41px;
    margin-top: 21px;
    margin-left: 113px;
    padding-top: 43px;
    font-family: "Comic Neue", cursive;
    width: 286px;
    height: 384px;
    padding-left: 28px;
    box-shadow: -1px 1px 6px black;
    border-radius: 20px;
    color: white;
    background-color: #2f2b2b;
    border-color: black;
    cursor: pointer;
  }
  #box {
    background-color: black;
    background-color: black;
    background-image: url("assets/events/mna.jpg");
    background-size: 315px 183px;
    margin-left: -28px;
    margin-top: -46px;
    padding-top: 140px;
    padding-left: 16px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 0.5px;
    margin-right: 0px;
  }
  
  #box2 {
    color: white;
  }
  .inside1 {
    font-size: 23px;
    margin-left: -9px;
    font-family: "DM Sans", sans-serif;
    margin-bottom: -11px;
  }
  .smallbox {
    font-size: 12px;
    margin-top: 34px;
    border: solid;
    width: 51px;
    padding-left: 8px;
    border-radius: 7px;
    font-family: "DM Sans", sans-serif;
  
    padding-right: 9px;
  }
  #para {
    font-size: 13px;
    font-family: "DM Sans", sans-serif;
    color: white;
    margin-left: -10px;
    margin-top: 30px;
    margin-right: 22px;
    text-align: justify;
  }
  #clock {
    margin-left: 76px;
    height: 19px;
    width: 18px;
    margin-bottom: -5px;
  }
  #time {
    font-size: 12px;
    font-family: "DM Sans", sans-serif;
    margin-left: -5px;
  }
  #name1 {
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
    color: #63bb54;
    margin-top: 2px;
    margin-left: -6px;
  }
  #date {
    padding-left: 62px;
  }
  #main3 {
    box-sizing: inherit;
    border: solid;
    font-size: 41px;
    margin-top: -429px;
    margin-left: 532px;
    padding-top: 43px;
    font-family: "Comic Neue", cursive;
    width: 286px;
    height: 384px;
    padding-left: 29px;
    box-shadow: -1px 1px 6px black;
    border-radius: 20px;
    color: white;
    background-color: #2f2b2b;
    border-color: black;
    cursor: pointer;
  }
  #box3 {
    background-color: black;
    background-color: black;
    background-image: url("assets/events/nft.png");
    background-size: 323px 141px;
    margin-left: -28px;
    margin-top: -46px;
    padding-top: 140px;
    padding-left: 16px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 0.5px;
    margin-right: 0px;
  }
  .inside2 {
    font-size: 24px;
    margin-left: -9px;
    font-family: "DM Sans", sans-serif;
    margin-bottom: -11px;
  }
  #name2 {
    font-size: 15px;
    font-family: "DM Sans", sans-serif;
    color: #63bb54;
    margin-top: 22px;
    margin-left: -6px;
  }
  #box4 {
    background-color: black;
    background-color: black;
    background-image: url("assets/events/finance.jpeg");
    background-size: 323px 141px;
    margin-left: -28px;
    margin-top: -46px;
    padding-top: 140px;
    padding-left: 16px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 0.5px;
    margin-right: 0px;
  }
  .inside3 {
    font-size: 24px;
    margin-left: -9px;
    font-family: "DM Sans", sans-serif;
    margin-bottom: -11px;
  }
  #name3 {
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
    color: #63bb54;
    margin-top: 21px;
    margin-left: -6px;
  }
  #main4 {
    box-sizing: inherit;
    border: solid;
    font-size: 41px;
    margin-top: -433px;
    margin-left: 954px;
    padding-top: 43px;
    font-family: "Comic Neue", cursive;
    width: 286px;
    height: 384px;
    padding-left: 27px;
    box-shadow: -1px 1px 6px black;
    border-radius: 20px;
    color: white;
    background-color: #2f2b2b;
    border-color: black;
    cursor: pointer;
  }
  #part2 {
    margin-top: 80px;
  }
  
  #part3 {
    margin-top: 80px;
  }
  #box5 {
    background-color: black;
    background-color: black;
    background-image: url(assets/events/codewiz.jpg);
    background-size: 340px 148px;
    background-position-x: -7px;
    margin-left: -28px;
    margin-top: -46px;
    padding-top: 140px;
    padding-left: 16px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 0.5px;
    margin-right: 0px;
  }
  #box6 {
    background-color: black;
    background-color: black;
    background-image: url(assets/events/financialder.jpg);
    background-size: 340px 148px;
    background-position-x: -7px;
    margin-left: -28px;
    margin-top: -46px;
    padding-top: 140px;
    padding-left: 16px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 0.5px;
    margin-right: 0px;
  }
  #box7 {
    background-color: black;
    background-color: black;
    background-image: url(assets/events/solidity.jpg);
    background-size: 340px 148px;
    background-position-x: -7px;
    margin-left: -28px;
    margin-top: -46px;
    padding-top: 140px;
    padding-left: 16px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 0.5px;
    margin-right: 0px;
  }
  #name4 {
    font-size: 15px;
    font-family: "DM Sans", sans-serif;
    color: #63bb54;
    margin-top: -26px;
    margin-left: -6px;
  }
  #box8 {
    background-color: black;
    background-image: url("assets/events/valuation.jpg");
    background-size: 323px 141px;
    margin-left: -28px;
    margin-top: -46px;
    padding-top: 140px;
    padding-left: 16px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 0.5px;
    margin-right: 0px;
  }
  #box9 {
    background-color: black;
    background-image: url("assets/events/excel.png");
    background-size: 323px 141px;
    margin-left: -28px;
    margin-top: -46px;
    padding-top: 140px;
    padding-left: 16px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 0.5px;
    margin-right: 0px;
  }
  #box10 {
    background-color: black;
    background-image: url("assets/events/bot.png");
    background-size: 323px 141px;
    margin-left: -28px;
    margin-top: -46px;
    padding-top: 140px;
    padding-left: 16px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 0.5px;
    margin-right: 0px;
  }
  #new {
    margin-top: -18px;
  }
  #boxcontent {
    margin-top: 3%;
    margin-left: -6%;
    justify-content: center;
    display: grid;
  }
  
  #content {
    margin-left: 2%;
    justify-content: center;
    display: grid;
    margin-top: 8%;
  }
  
  .main2:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
  }
  #main3:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
  }
  #main4:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
  }
  .main2:not( :hover ){
    transform: scale(1);
    transition-duration: 0.5s;
 }
 #main3:not( :hover ){
  transform: scale(1);
  transition-duration: 0.5s;
}
#main4:not( :hover ){
  transform: scale(1);
  transition-duration: 0.5s;
}






/*             FREE RESOURCES START              */






 .biggest_box_freeresources{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Inter , sans-serif;
    position: relative;
  }

  .container_freeresources{
    
    position: relative;
    width: fit-content;
    font-size: 14px; 
    font-family: Inter , sans-serif;
    padding: 0px;
    margin: 0px;
    align-self: center;
  }
  
  .heading_freeresources{
    margin: 0px;
    color: white;
    font-size: 36px;
    font-weight: 600;
    
  }
  
.resources_grid{
    display: grid;
    grid-template-columns: 51% 51%;
    column-gap: 5%;
    justify-content: center;
    align-items: center;
    margin: 3% 10% 2% 10%;
}

.resource_box{
    margin: 0px;
    background-color: rgba(20, 20, 20, 1);
    max-width: 640px;
    padding: 5% 7% 5% 7%;
    border-radius: 20px;
    margin-bottom: 7%;
}

.resource_green_heading{
    margin: 0px;
    color: rgba(99, 187, 84, 1);
    font-size: 28px;
    font-weight: 600;
}

.resource_description{
    color: white;
    font-size: 14px;
    line-height: 23px;
}

.download_resource_button{

    margin: 5% 0% 2% 0%;
    color: rgba(99, 187, 84, 1);
}

.download_resource_button a{
    color: rgba(99, 187, 84, 1);
    font-size: 15px;
    border: 1px solid white;
    padding: 1% 2% 1% 2%;
    border-radius: 20px;
}

.coming_soon{
    color: white;
    margin: 0px;
    margin-left: 10%;
    font-size: 30px;
    font-weight: 800;
}

@media (max-width:950px){

    .resources_grid{
        grid-template-columns: 95%;
    }

}



/*             FREE RESOURCES END              */

/*Responsive mobile design prototypee*/
@media screen and (max-width: 500px) {
  .pcview
  {
    display: none;
  }
 
 

 
}
@media screen and (min-width:501px)
{
  .mobileview1{
    display:none;
  }
}


